
@import url("css-reset.css");
@import url("css-helvetica.css");
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);




.cabecera a {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:3px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.cabecera a:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color:#e9e9e9;
}

.cabecera a:active {
    position:relative;
    top:1px;
}

.cabecera {
    background-color: #333;
    background-position: 0px center;
    padding: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 47px;
}


* {
    box-sizing: border-box;
}

body{
    line-height: 1.42857;
}

.contenedor {
    position: relative;
    font-family: 'Droid Serif', serif;
}

nav {
    width: 200px;
    position: absolute;
    margin-top: 5px;
    padding-left: 10px;
}

.menu {
    margin-left: 200px;
}

.logo {
    margin-left: 150px;
    width: 30%;
    float: left;
    height: 47px;
    font-size: 200%;
    font-weight: bold;
    color: #F1F1F1;
}
    
.botones {
    margin-left: 100px;
    width: 300px;
    float: left;
    height: 47px;
    padding-top: 20px; 
}


.contenido {
    padding-left: 10px;
}

menu {
    width: 308px;
    margin-top: 35px;
    float:left;
    border-radius: 5px;
    Border:2px solid #999900;
    padding:0px 50px 20px;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
    color:green;
    font-weight: bold;
}

label {
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}

input[type=checkbox] {
    margin-bottom: 10px;
    margin-right: 10px;
}
input[type=submit] {
    text-align: center;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 2px solid #e5a900;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0px 1px 0px #13506D;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type=submit]:hover {
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

nav, .menu {
    float: left;
}
    
.menu {
    margin-left: 200px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.lista {
    border-spacing: 10px;
}
    
.even { background-color:#D8D8D8; }

.odd { background-color:#BDBDBD; }