
    * {
	box-sizing: border-box;
    }

    body{
        line-height: 1.42857;
    }

    .contenedor {
        position: relative;
    }
    
    .cabecera {
        background-image: linear-gradient(#D8D8D8 50%, #BDBDBD 50%);
        background-position: 0px center;
        padding: 0px;
        margin-bottom: 40px;
        margin-top: 40px;
        height: 47px;
    }
    
    .logo {
        margin-left: 150px;
        width: 30%;
        float: left;
        height: 47px;
        font-size: 200%;
        font-weight: bold;
    }
    
    .botones {
        margin-left: 100px;
        width: 300px;
        float: left;
        height: 47px;
        padding-top: 24px; 
    }
    
    .botones a {
        //margin-left: 25px;
    }
    
    nav {
        width: 200px;
        position: absolute;
        margin-top: 5px;
        padding-left: 10px;
    }
    
    nav, .menu {
        float: left;
    }
    
    .menu {
        margin-left: 200px;
    }

    nav ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
    }
    
    .contenido {
        padding-left: 10px;
    }
    
    .lista {
        border-spacing: 10px;
    }
    
    .even { background-color:#D8D8D8; }
    .odd { background-color:#BDBDBD; }